/* 'Roboto Condensed' 'Architects Daughter' 'Source Sans Pro' */

/*IE9*/
/* *::selection {
  background-color: transparent;
}
*::-moz-selection {
  background-color: transparent;
} */
* {
  /* -webkit-user-select: none;
  -moz-user-select: -moz-none; */
  /*IE10*/
  /* -ms-user-select: none;
  user-select: none; */

  /*You just need this if you are only concerned with android and not desktop browsers.*/
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
  padding: 0;
  margin: 0;
  height: 100vh;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* border: 1px solid black; */
}
body {
  background: #f5f5f5;
  height: 100vh;
}
h1 {
  font-family: "Source Sans Pro", sans-serif;
}
h2 {
  font-size: 2.8em;
  margin: 2vmin;
  font-family: "Roboto Condensed";
}
h3 {
  font-size: 1.8em;
  margin: 2vmin;
  font-family: "Roboto Condensed";
}
p {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.6em;
}
a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  outline: none;
}
a:hover {
  color: #bbb;
}
.bgImg {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  z-index: -1;
  object-fit: cover;
  /* pointer-events: none; */
  opacity: 0;
  transition: opacity 1100ms ease-in-out 0s;
}
.bgImgShow {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  z-index: -1;
  object-fit: cover;
  /* pointer-events: none; */
  opacity: 0.9;
  transition: opacity 1100ms ease-in-out 0s;
}
#middleText {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -0%);
  white-space: nowrap;
  font-size: 3em;
  /* pointer-events: none; */
  background: rgba(255, 255, 255, 0.5);
  width: 100%;
  text-align: center;
  margin-top: 90px;
  z-index: 0;
}
.pageLabel {
  padding-left: 5px;
}
/*Pages*/

.pagesWrapper {
  height: calc(100vh - 93px);
  background: #f5f5f5;
  font-size: 62.5%;
  margin-top: 90px;
}
.pagesWrapperNoMargin {
  margin-top: 0;
}
#indexPageWrapper {
  font-size: 62.5%;
  background: transparent;
}

/* Galleries */
#backToGallery {
  width: 8vmin;
  height: 8vmin;
  background: transparent;
  position: absolute;
  top: 5%;
  left: 95%;
  transform: translate(-100%, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-shadow: 1px 1px 2px black;
  font-size: 1.3em;
  font-family: "Roboto Condensed", sans-serif;
  cursor: pointer;
}
#nextImg,
#prevImg {
  height: 11vmin;
  width: 11vmin;
  border-radius: 15px;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  color: white;
  text-shadow: 1px 1px 2px black;
  position: absolute;
  top: 50%;
  cursor: pointer;
  z-index: 1;
}
#prevImg {
  left: 5%;
}
#nextImg {
  left: 95%;
  transform: translate(-100%, 0);
}
.captionButton {
  color: white;
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 1.2em;
  font-weight: bold;
  cursor: pointer;
  width: 5vh;
  height: 5vh;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1vh;
  transition: 0.3s;
}
.captionButton:hover {
  background: black;
}
#caption,
.caption {
  position: absolute;
  max-width: 95%;
  bottom: 7%;
  left: 50%;
  transform: translate(-50%, 0);
  color: white;
  font-size: 1.1em;
  border: 1px solid white;
  background: rgba(0, 0, 0, 0.3);
  padding: 3px;
  font-family: "Architects Daughter";
}
.galleryHolderHolder {
  display: block;
  margin: 0 auto;
}
.galleryHolder {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}
.hidden {
  display: none;
}
.paintingCloseup {
  position: absolute;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  background: black;
}
.paintingCloseup img {
  object-fit: contain;
  max-height: 100vh;
  max-width: 100%;
}
.galleryPicHolder {
  height: 20vh;
  width: 370px;
  min-height: 370px;
  border: 1px solid black;
  background: #e7e7e3;
  margin: 10px;
  transition: 0.3s;
}
.galleryPicHolder img {
  height: 16vh;
  width: 100%;
  object-fit: cover;
  object-position: top;
  min-height: 300px;
  border: none;
  cursor: pointer;
}
.galleryPicHolder:hover {
  box-shadow: 1px 1px 3px black;
}
.galleryPicInfoText {
  height: 4vh;
  min-height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 0.4vh;
  font-size: 1.6em;
  font-family: "Roboto Condensed";
}
.galleryPicTitle,
.galleryPicSize,
.galleryPicPrice {
  margin-right: 10px;
}

/*CV*/
#cvText p {
  margin: 3vmin;
  line-height: 25px;
}
#profilePic {
  float: left;
  margin-left: 2vw;
  margin-right: 3vw;
  border: 1px solid black;
  box-shadow: 5px 5px 3px black;
}

/* Contact */
.pageDiv {
  min-height: calc(100vh - 5vh - 70px - 90px);
}
#contactDiv {
  /* background-image: url("./img/4.png"); */
  background-position: center;
  background-size: cover;
  object-fit: cover;
  margin-top: 0;
  padding-bottom: 3vh;
}
#contactForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contactInput {
  background-color: #f5f5f5;
  resize: none;
  width: 50%;
  color: black;
  font-family: "Roboto Condensed", sans-serif;
  height: 6vh;
  font-size: 2em;
  border: 1px solid black;
  box-shadow: 5px 5px 3px black;
  margin-top: 1vh;
  padding-left: 1vw;
}
.contactInputText {
  padding-top: 1vh;
  height: 35vh;
}
#formSubmit {
  margin-top: 2vh;
  color: black;
  font-family: "Roboto Condensed", sans-serif;
  height: 6vh;
  font-size: 2em;
  border: 1px solid black;
  box-shadow: 5px 5px 3px black;
  width: 50%;
}
/*Footer*/
footer {
  height: 70px;
  background: white;
  font-size: 1.6em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
footer footerLinks {
  display: flex;
  align-items: center;
  justify-content: center;
}
footer a {
  font-family: "Source Sans Pro";
}
footer a:hover {
  text-decoration: underline;
}
footer p {
  font-family: "Roboto Condensed";
}

/* Painting Details Page */
.painting-details-page {
  padding: 20px 20px 100px 100px;
  display: flex;
}
.painting-details-content-holder {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* border: 1px solid red; */
  width: 100%;
  max-width: 1200px;
  border: 5px solid red;
}
.painting-details-img-holder {
  /* display: inline-block; */
  border: 1px solid black;
}
.painting-details-img-holder img {
  max-height: 500px;
  vertical-align: middle;
  display: inline-block;
}
.painting-details-text-box {
  border: 1px solid black;
  background: #fafafa;
  width: 400px;
  height: 200px;
  padding: 20px;
  margin-left: 30px;
}
.painting-details-text-box .painting-title {
  font-style: italic;
  font-size: 20px;
}
.painting-details-img-holder img {
  height: 100%;
}
/*Navbar*/
.nav {
  width: 100%;
  position: absolute;
  top: 0%;
  text-align: right;
  height: 70px;
  line-height: 70px;
  font-size: 1.9em;
  background: #e7e7e3;
  /* background: -moz-linear-gradient(top, rgba(200,200,200,0.45) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
  /* background: -webkit-linear-gradient(top, rgba(200,200,200,.45) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
  /* background: linear-gradient(to bottom, rgba(200,200,200,200.45) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
#nav-spacer {
  height: 70px;
}
.menu {
  height: 70px;
  width: 90vw;
  display: flex;
  justify-content: space-around;
  z-index: 0;
}
.menu a {
  clear: right;
  color: black;
  font-family: "Source Sans Pro";
  font-weight: bold;
  width: 100%;
  display: flex;
  justify-content: center;
  transition: 0.3s;
}
.menu a:hover {
  background: white;
}
label {
  margin: 0px 10px 0 0;
  font-size: 2.6em;
  line-height: 70px;
  display: none;
  float: right;
}
#toggle {
  display: none;
}
@media only screen and (max-width: 700px) {
  label {
    display: block;
    cursor: pointer;
  }
  .menu {
    text-align: center;
    width: 100%;
    height: 100%;
    display: none;
    background: #e7e7e3;
  }
  .menu a {
    display: block;
    background: #e7e7e3;
    border-bottom: 2px solid black;
  }
  #toggle:checked + .menu {
    display: block;
  }
  .contactInput {
    width: 80%;
  }
  #caption,
  .caption {
    width: 95%;
  }
  #middleText {
    font-size: 1em;
    top: 60%;
  }
}
/* Painting Details Page Meda Queries */
@media only screen and (max-width: 1067px) {
  .painting-details-page {
    padding: 0px 0px 100px 0px;
  }
  .painting-details-img-holder {
    max-height: auto;
  }
  .painting-details-img-holder img {
    max-width: 100%;
  }
  .painting-details-text-box {
    margin-top: 40px;
    margin-left: 0px;
    width: 100%;
  }
}
